[data-md-color-scheme="slate"][data-md-color-primary="indigo"]{
  --md-primary-fg-color:        #00ffff;
  --md-primary-fg-color--light: #00bfbf;
  --md-primary-fg-color--dark:  #008080;
  --md-typeset-a-color:         #00ffff;
  --md-default-bg-color:        #000000;
  --md-header:                  #00ffff;

  .md-banner {
    background-color:           #000000;
    color:                      #ffff00
  }

  .md-header {
  --md-primary-fg-color:        #000000;
  --md-primary-bg-color:        #00ffff;
  }

  .md-footer, .md-footer-meta {
    background-color:           #000000;
    --md-footer-fg-color:       #00ffff;
    --md-accent-fg-color--transparent:      #ffffff;
    --md-admonition-fg-color:      #00ffff;
    color:                      #00ffff;

    .md-footer-meta.md-typeset a {
      color: #00ffff;
    }
  }

}
